<app-navigation-bar [userName]="userName"></app-navigation-bar>

<div>
  <div *ngIf="userProfile.authState | async as socialUser">
    <h1 *ngIf="returningUser" style="padding: 1.5%">Welcome back, {{socialUser.name}}!</h1>
    <h1 *ngIf="!returningUser" style="padding: 1.5%">Welcome, {{socialUser.name}}!</h1>
    <h2 style="padding-left: 1.5%; padding-bottom: 1%">Daily Article</h2>
<!--    <p>Your email: {{socialUser.email}}</p>-->
  </div>
</div>
<div>
  <app-daily-article [dailyArticles]="userDailyArticles"></app-daily-article>
</div>
<div>
  <h2 style="padding-left: 2%; padding-bottom: 2%">Recommended Articles</h2>
  <app-recommendation-carousel [randomArticlesList]="randomArticles"></app-recommendation-carousel>
</div>
