<app-navigation-bar></app-navigation-bar>

<div *ngFor="let preference of preferenceInterestList">
    <div class="d-flex" class="preference-list">
        <div class="mr-auto p-2">
            <h4>{{preference.concept_name}}</h4>
        </div>
        <div class="p-2" style="margin-top: 8px;">
            <h6>Level: &nbsp; {{preference.badge}} </h6>
        </div>

    </div>
    <div class="card-carousal" *ngIf="isCarousalVisible">
        <app-recommendation-carousel [randomArticlesList]="preferenceInterestList.articleList"></app-recommendation-carousel>
    </div>
    <div *ngIf = "!isCarousalVisible">
        <h6 style="padding-left: 1.5%; padding-bottom: 1%"> There are no articles currently. You will be receiving articles on this topic soon!</h6>
    </div>
</div>