<div class='container-fluid'>
  <div>
    <ngb-carousel>
      <ng-template ngbSlide>
        <div style="display: inline-flex">
          <div class="left-div">
            <app-daily-article></app-daily-article>
          </div>
          <div class="right-div">
            <app-daily-article></app-daily-article>
          </div>
          <div class="desktop-card">
            <app-daily-article></app-daily-article>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div style="display: inline-flex">
          <div class="left-div">
            <app-daily-article></app-daily-article>
          </div>
          <div class="right-div">
            <app-daily-article></app-daily-article>
          </div>
          <div class="desktop-card">
            <app-daily-article></app-daily-article>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div style="display: inline-flex">
          <div class="left-div">
            <app-daily-article></app-daily-article>
          </div>
          <div class="right-div">
            <app-daily-article></app-daily-article>
          </div>
          <div class="desktop-card">
            <app-daily-article></app-daily-article>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
