<div class='container-fluid'>
  <div>
    <ngb-carousel>
      <ng-template ngbSlide>
        <div style="display: inline-flex">
          <div style="width: 50%">
            <app-daily-article></app-daily-article>
          </div>
          <div style="width: 50%">
            <app-daily-article></app-daily-article>
          </div>
          <div class="desktop-card" style="width: 50%">
            <app-daily-article></app-daily-article>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div style="display: inline-flex">
          <div style="width: 50%">
            <app-daily-article></app-daily-article>
          </div>
          <div style="width: 50%">
            <app-daily-article></app-daily-article>
          </div>
          <div class="desktop-card" style="width: 50%">
            <app-daily-article></app-daily-article>
          </div>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div style="display: inline-flex">
          <div style="width: 50%">
            <app-daily-article></app-daily-article>
          </div>
          <div style="width: 50%">
            <app-daily-article></app-daily-article>
          </div>
          <div class="desktop-card" style="width: 50%">
            <app-daily-article></app-daily-article>
          </div>
        </div>
      </ng-template>
    </ngb-carousel>
  </div>
</div>
