<!--<h1>hello</h1>-->
<!--<button (click)="loginWithGoogle()" class="google-login-btn">-->
<!--  Google-->
<!--</button>-->


<body class="login-page">


<main>



  <div class="login-block">
    <h3>Welcome to ReadME</h3>
    <img src="../../assets/images/icon.ico" alt="Scanfcode">
    <h1 style="color: #212529">Login using Google</h1>

     <div>
       <button (click)="loginWithGoogle()" class="btn btn-dark">
         <img src="../../assets/images/search.png" height="25" width="25" alt="Scanfcode">
         Login
       </button>
     </div>
  </div>


</main>

